
<div class="page-header">
    <h1>Google Maps <small>playing with google maps</small></h1>
</div>

    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">JavaScript</h3>
            </div>
            <div class="panel-body">
                <ul>
                    <li>@Html.ActionLink("Basics", "BasicMap", "Home")</li>
                    <li>@Html.ActionLink("Base Map Options (Map Type)", "BaseMapOptions", "Home")</li>
                    <li>@Html.ActionLink("Map Control", "MapControl", "Home")</li>
                    <li>@Html.ActionLink("Adding a Marker", "Marker", "Home")</li>
                    <li>@Html.ActionLink("Adding a PolyLine", "PolyLine", "Home")</li>
                    <li>@Html.ActionLink("Adding a Polygon", "Polygon", "Home")</li>
                    <li>@Html.ActionLink("Geocoding", "GeoCode", "Home")</li>
                    <li>@Html.ActionLink("Directions", "Directions", "Home")</li>
                </ul>
            </div>
        </div>


        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Angular</h3>
            </div>
            <div class="panel-body">
                <ul>
                    <li><a href="/Angular/#/basicmap">Basic Map</a></li>
                </ul>
            </div>
        </div>

    </div>